body {
  background-color: lightgrey;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar-collapse {
  flex-grow: 0;
}
#black {
  border: black;
}

.navbar-brand {
  background-color: cadetblue;
  padding-left: 20px;
  padding-right: 20px;
}

.navbar-light .navbar-brand:hover {
  color: white;
}

.navbar-light .navbar-brand:visited {
  color: white;
}

.navbar-light .navbar-brand {
  color: white;
}

.contact-info {
  background-color: white;
}

#contact-button {
  background-color: cadetblue;
  color: lightgrey;
}
#contact-button:hover{
  background-color: darkturquoise;
}

h1{
  color: cadetblue;
  font-weight: bold;
}
/* .container  {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
} */

main #contact-info {
  background-color: white;
  width: 45%;
  height: 60%;
  margin-right: 80%;
  margin-left: 15%;
  margin-top: 10%;
  margin-bottom: 20%;
  padding-left: 35px;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-right: 100px;  
  /* padding-bottom: auto; */
}

footer{
  height: 100%;
  background-color: dimgrey;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 10px;
  border-top: 5px solid cadetblue;
}
#copyright {
  text-align: center;
  }

  #portfolio-info{
    height: 100%;
  }

  main #portfolio-info {
    background-color: white;
    width: 60%;
    height: 70%;
    margin-right: 80%;
    margin-left: 15%;
    margin-top: 10%;
    margin-bottom: 20%;
    padding-left: 35px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-right: 35px;  
    /* padding-bottom: auto; */
  }
